html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.section_first{
    width: 90%;
    margin: auto;
}
.logo{   
    display: inline-block;
}
.logodiv{
    display: inline-block;
    padding: 20px;
}
.logodiv-link{
    display: inline-block;
    padding: 20px;
}
.menu{
    width: 50%;
    display: inline-block;
    padding: 0px;
    text-align: center;
    overflow: auto;
}
ul{
   margin: 0;
   padding: 0;
}
.menu-item{
   display: inline-block;
   padding: 0px 10px;
}
.menu-link{
    
    display: inline-block;
}
.icon{
    width: 30%;
    display: inline-block;
    overflow: auto;
}
.icon-ul{
    float: right;
}
.icom-item{
    display: inline-block;
    padding: 0px 10px;
}
.item-link{
    display: inline-block;
}
.section_second{
    width: 100%;
    height: 100%;
    margin: 0;
}
.banner{
    height: 100%;
    position: relative;
    background-image: url(../image/banner.webp);
    background-size: cover;
    background-position: center;
}
.section_second_center{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 100px;
}
.section_second_center_text1{
    text-align: left;
    font-size: 20px;
    color: white;
}
.white{
    color: white;
}
.section_second_center_text2{
    text-align: left;
    color: lawngreen;
}
h1{
    font-size: 56px;
}
.section_second_center_text3{
    text-align: left;
    font-size: 22px;
    color: white;
    
}
.section_second_center_button{
    width: 250px;
    height: 100px;
    margin: 0;
    padding:25px 0px;
}
.section_second_center_button1{
    width: 100%;
    height: 100%;
    background-color: lawngreen;
}
.button_text{
    padding: 10px;
    text-align: center;
    color: white;
}
.text_color{
    color:white;
}
.section_third{
    width: 100% ;
}
.section_third_div{
     width: 90%;
     margin: auto;
     overflow: auto;
}
.third_div_icons{
    width: 25%;
    padding: 20px;
    float: left;
    margin: auto;
    text-align: center;
}
.third_icons{
    width: 25%;
    margin: auto;
    display: inline-block;
}
.third_text1{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.third_text2{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.section_fourth{
   width: 100%;   
}
.section_fourth_div1{
    width: 50%;
    margin: auto;
    padding: 100px;
}
.fourth_div1_text1{
    padding: 10px;
    text-align: center;
    font-size: 28px;  
}
.fourth_div1_text2{
    padding: 10px;
    text-align: center;
    font-size: 20px;  
}
.section_fourth_div2{
    width: 100%;
    margin:50px auto;
    overflow: auto;
}
.section_fourth_div2_1{
    width: 90%;
    margin: auto;
}
.fourth_div2_image{
    width: 33.33%;
    padding: 10px;
    margin: auto;
    float: left;
    
}
.fourth_div2_image1{
    padding: 10px;
    margin: auto;
}
.fourth_image1{
    margin: auto;
}
.fourth_div2_text1{
    margin: auto;
}
.fourth_text{
    padding: 5px;
    margin: auto;
}
.price{
    padding: 10px;
    overflow: auto;  
}
.new_price{
    font-size: 24px;
    padding: 10px;
    float: left;
}
.old_price{
    margin: 10px;
    padding: 5px;
    float: left;
}
.section_fifth{
    width: 100%;
    height: 550px;
    position:relative;
}
.section_fifth_div1{
    width:100%;
    height:100%;
    
    margin:auto;
}
.fifth_image1{
    width: 100%;
    height: 100%;
    background-image: url(../image/offer-bg.png);
    background-size: cover;
    background-position: top center;
}
.section_fifth_div_center{
    width: 400px;
    height: 300px;
    position: absolute;
    top:160px;
    right: 200px;
}
.fifth_text1{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.fifth_text2{
    text-align: center;
    padding: 10px;
    font-size: 90px;
}
.fifth_button1{
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: auto;
    background-color: lawngreen;
}
.fifth_text3{
    text-align: center;
    font-size: 18px;
    color: white;
}
.fifth_text4{
    text-align: center;
    padding: 10px;
}
.section_sixth{
    width: 100%;
    padding: 10px;
}
.section_sixth_div_1{
    width: 50%;
    padding: 100px;
    margin: auto;
}
.section_sixth_div_text1{
    text-align: center;
    font-size: 32px;
    padding: 20px;
}
.section_sixth_div_text2{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.section_sixth_div_2{
    width: 90%;
    margin: auto;
    overflow: auto;
    
}
.section_sixth_div_2_1{
    width: 50%;
    margin: auto;
    float: left;
    background-color: lightgray;
}
.sixth_div_2_text_01{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.sixth_div_2_text_02{
    text-align: center;
    font-size: 32px;
    padding: 10px;
}
.sixth_div_2_image_01{
    width: 100%;
    height: 400px;
    background-image: url(../image/new-product1.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.sixth_image{
    padding: 10px 0px;
    margin: auto;
}
.sixth_div_2_text_03{
    text-align: center;
    font-size: 24px;
    padding: 20px;
}
.sixth_div_2_button1{
    width: 150px;
    height: 40px;
    margin: auto;
    background-color:lawngreen;
}
.sixth_div_2_text_04{
    text-align: center;
    padding: 10px;
    color: white;
}
.section_sixth_div_2_2{
    width: 50%;
    margin: auto;
    float: left;
    overflow: auto;
}
.section_sixth_div_2_2_1{
    width: 50%;
    padding: 10px;
    float: left;
}
.sixth_div_2_2_1_image1{
    margin: auto;
}
.sixth_div_2_2_1_text1{
    padding: 5px;
}
.sixth_div_2_2_1_text1_1{
    font-size: 18px;
    padding: 5px;
}
.price1{
    overflow: auto;  
    padding: 5px;
}
.new_price1{
    padding: 10px;
    font-size: 24px;
    float: left;
}
.old_price1{
    padding: 10px;
    margin: 5px auto;
    float: left;
}
.section_seven{
    padding: 50px 0px;
    margin: auto;
}
.section_seven_div_first{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.seven_div_first_text1{
    text-align: center;
    font-size: 28px;
    padding: 40px;
}
.seven_div_first_text2{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.section_seven_div_second{
    width: 90%;
    padding: 10px;
    overflow: auto;
    margin: auto;
}
.section_seven_div_image{
   float: left;
    width: 25%;
    padding: 10px;
    display: inline-block;
}
.seven_div_image_size{
    width: 100%;
}
.seven_div_image{
    width: 100%;
    padding: 5px;
    
    
}
.section_seven_div_text{
    width: 100%;
}
.seven_div_text1{
    padding: 5px;
}
.price7{
    overflow: auto;  
    padding: 5px; 
}
.new_price7{
    font-size: 24px;
    padding: 5px;
    float: left;
}
.old_price7{
    padding: 5px;
    margin: 5px auto;
    float: left;
}
.section_eight{
    width: 100%;
    margin: auto;
}
.section_eight_div{
    width:90%;
    margin: auto;
    padding: 10px;
}
.eight_div_first{
    width: 50%;
    padding: 50px;
    margin: auto;
}
.eight_div_first_text1{
    text-align: center;
    font-size: 28px;
    padding: 20px;
}
.eight_div_first_text2{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.eight_div_second_1{
    width: 100%;
    margin: auto; 
    padding: 10px;
    overflow: auto;
}
.eight_div_second{
    width: 33.33%;
    float: left;
}
.eight_div_second_image1{
    width: 100%;
    padding: 10px;
    display: inline-block;
}
.second_image01{
   
   width: 400px;
   padding: 5px;
}
.eight_text{
    padding: 5px;
    overflow: auto;
}
.eight_text1{
    padding: 5px;
    float: left;
}
.eight_div_image_size{
    width: 100%;
}
.eight_image2{
    padding: 5px;
    float: left;
}
.eight_text2{
    padding: 5px;
    
}
.eight_text3{
    padding: 5px;
    font-size: 24px;
}
.eight_text4{
   padding: 5px;
   font-size: 20px;
}
.eight_text5{
    padding:5px;
    overflow: auto;
}
.eight_text5_1{
    padding: 5px;
    float: left;
}
.eight_image5_1{
    margin: 2px;
    padding: 5px;
    float: left;
}
.section_nine{
    width: 100%;
    height: 90%;
    margin: auto;
    background-color: black;
    float: left;
}
.section_nine_div{
    width: 90%;
    margin: auto;
    padding: 100px;
}
.section_nine_sub1{
    width: 100%;
    height: 300px;
    margin: auto;
    overflow: auto;
}
.nine_sub1{
    width: 70%;
    height: 100%;
    float: left;
}
.nine_sub2{
    width: 30%;
    height: 100%;
    float: left;
    overflow: auto;
}
.nine_sub1_text{
    width: 25%;
    height: 250px;
    padding: 5px;
    margin: 5px 0px;
   float: left;
}
.nine_sub1_text1{
    padding: 10px;
    text-align: left;
    font-size: 26px;
    color: white;
}
.nine_sub1_link1{
    color:white;
    padding: 10px;
}
.nine_sub2_text{
    width: 100%;
    height: 250px;
    padding: 5px;
    margin: 5px 0px;
   float: left;
}
.nine_sub2_text1{
     padding: 10px;
    text-align: left;
    font-size: 26px;
    color: white;
}
.nine_sub2_text2{
     padding: 5px;
    text-align: left;
    font-size: 15px;
    color: white;
    
}
.nine_sub2_text3{
    width: 100%;
    height: 60px;
    margin: 20px 0px;
    overflow: auto;
    padding: 10px;
    display: inline-block;
    
}
.nine_sub2_text3_1{
    width: 70%;
    height: 100%;
    padding: 15px;
    float: left;
    background-color: gray;
    
}
.nine_sub2_text3_2{
    width: 80px;
    height: 70%;
    padding: 10px;
    float: left; 
    position: relative;
    top:6px;
    right:35px;
    font-size: 10px;
    background-color:lawngreen;
}
.section_nine_sub2{
    width: 100%;
    height: 60px;
    margin: auto;
    color: white;
    overflow: auto;
}
.nine_sub2_1{
    width: 70%;
    height: 100%;
    text-align: left;
    padding: 10px;
    float: left;
}
span{
    color: lawngreen;
}
.nine_sub2_2{
    float: left;
    overflow: auto;
}
.facebook{
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    float:left;
    background-color: gray;
}
.twitter{
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    float:left; 
    background-color: gray;
}
.behance{
     width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    float: left;
    background-color: gray;
}
.dribbble{
     width: 50px;
    height: 50px;
    padding: 15px;
    margin: 5px;
    float:left; 
    background-color: gray;
    
}